/* Big screen tablets (Width smaller than the 1140px row): 1024 to 1200px */
@media only screen and (max-width: 1200px) {
	.hero-text-box {
		width: 100%;
		padding: 0 2%;
	}

	.row {
		padding: 0 2%;
	}

	.footer-nav li,
	.social-links li {
		margin-right: 10px;
	}

	.social-links li a:link,
	.social-links li a:visited {
		font-size: 160%;
	}

	footer p {
		margin-top: 10px;
	}

	footer {
		padding: 40px 0 30px 0;
	}

	.works-step:last-of-type {
		margin-bottom: 35px;
	}

	.plan-box span {
		overflow: hidden;
	}

	section {
		padding: 50px 0;
	}
}

/* Small screen tablets to big screen tablets: 768 to 1023px */
@media only screen and (max-width: 1023px) {
	html {
		font-size: 18px;
	}

	section {
		padding: 60px 0;
	}

	.btn-app img {
		height: 40px;
	}

	.long-copy {
		width: 80%;
		margin-left: 10%;
	}

	h3 {
		height: 45px;
	}

	.steps-box:last-child {
		margin-top: 30px;
	}

	.works-step {
		margin-bottom: 30px;
	}

	.logo {
		height: 75px;
	}

	.icon-small {
		margin-right: -5px;
	}

	.plan-box {
		width: 95%;
		margin-left: 2.5%;
	}

	.section-cities .box {
		padding: 0;
	}

	.contact-form {
		width: 75%;
	}

	.row {
		padding: 0 2%;
	}
}

/* Small screen phones to small screen tablets: 481 to 767px */
@media only screen and (max-width: 767px) {
	body {
		font-size: 16px;
	}

	header {
		background-attachment: scroll;
	}

	section {
		padding: 30px 0;
	}

	.row {
		padding: 0 4%;
	}

	.col {
		width: 100%;
		margin: 0 0 1% 0;
	}

	/* ==========Main Nav========== */
	.main-nav {
		position: fixed;
		right: 0;
		top: 0;
		width: 50%;
		margin-top: 0;
		height: 100vh;
		background-color: rgb(0, 0, 0);
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		font-weight: bolder;
		font-size: 120%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		-webkit-transform: translateX(100%);
		-ms-transform: translateX(100%);
		transform: translateX(100%);
		-webkit-transition: -webkit-transform 0.3s ease-in;
		transition: -webkit-transform 0.3s ease-in;
		-o-transition: transform 0.3s ease-in;
		transition: transform 0.3s ease-in;
		transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
		z-index: 2;
	}

	@-webkit-keyframes navAnimation {
		from {
			opacity: 0;
			-webkit-transform: translateX(50px);
			transform: translateX(50px);
		}

		to {
			opacity: 1;
			-webkit-transform: translateX(0px);
			transform: translateX(0px);
		}
	}

	@keyframes navAnimation {
		from {
			opacity: 0;
			-webkit-transform: translateX(50px);
			transform: translateX(50px);
		}

		to {
			opacity: 1;
			-webkit-transform: translateX(0px);
			transform: translateX(0px);
		}
	}

	.nav-active {
		-webkit-transform: translateX(0%);
		-ms-transform: translateX(0%);
		transform: translateX(0%);
	}

	.main-nav li {
		margin: 25px 0 25px 5%;
		opacity: 0;
	}

	.main-nav li:first-child {
		margin-top: 120px;
	}

	.main-nav + input {
		display: inline-block;
		width: 33%;
		margin-top: 45px;
		position: relative;
		left: 35%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		padding: 3px;
		background-color: transparent;
		border: 1px solid #6d6d6d;
		font-size: 120%;
		font-weight: bolder;
	}

	.mobile-nav-icon {
		display: inline;
		position: relative;
		margin-top: 42px;
		z-index: 2;
	}

	.ion-close {
		color: #fff;
	}

	/* ==========Sticky Nav========== */
	.sticky {
		height: 60px;
	}

	.sticky .main-nav {
		margin-top: 0;
	}

	.sticky .main-nav + input {
		margin-top: 18px;
		left: 41%;
		color: #000;
	}

	.sticky .mobile-nav-icon {
		position: relative;
		margin-top: 14px;
		z-index: 2;
	}

	.sticky .logo-black {
		height: 40px;
		width: auto;
		margin: 10px 0;
	}

	.sticky .ion-navicon {
		color: #000;
	}

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vh;
		background-color: rgba(0, 0, 0, 0.205);
		-webkit-backdrop-filter: blur(1px);
		backdrop-filter: blur(1px);
		position: fixed;
		z-index: 1;
	}

	.section-features .long-copy {
		margin-bottom: 10px;
	}

	.long-copy {
		width: 100%;
		margin-left: 0%;
		text-align: justify;
	}

	.icon-big {
		margin-bottom: 0;
	}

	.steps-box:first-child {
		text-align: center;
	}

	.steps-box div:last-child {
		text-align: center;
	}

	.works-step div {
		height: 40px;
		width: 40px;
		padding: 0;
		margin-right: 15px;
	}

	.btn-app:link,
	.btn-app:visited {
		border: none;
		margin: 0 auto;
	}

	.btn-app:last-child {
		margin-left: 0;
	}

	.app-screen {
		width: 40%;
	}

	h3 {
		height: 20px;
	}

	cite {
		margin-top: -35px;
	}

	h2 {
		margin-bottom: 0;
	}

	.plan-box div {
		margin-top: 4%;
	}

	.contact-form .row {
		margin-top: 5%;
	}

	.contact-form .row:last-child {
		margin-top: 0;
		text-align: center;
	}

	.footer-nav {
		float: none;
		text-align: center;
		margin-top: -20px;
	}

	.social-links {
		float: none;
		text-align: center;
		margin-top: 1%;
	}

	footer {
		padding: 40px 0 10px 0;
	}

	footer p {
		margin-top: 20px;
	}
}

/* Small screen phones: 0 to 480px */
@media only screen and (max-width: 480px) {
	section {
		padding: 20px 0;
	}

	.contact-form {
		width: 100%;
	}

	.logo {
		height: 60px;
		margin-top: 30px;
	}

	.main-nav + input {
		width: 40%;
		left: 33%;
	}

	.sticky .main-nav + input {
		left: 37%;
	}
}
